.table-bordered td	
	{
	border: 1px solid #060606;	
	}
	.table-bordered th
	{
	border: 1px solid #060606;	
	text-align:center;	
	}
@media only screen and (min-width:767px) {
.batch_date{
	font-size:24px; 		
	width:50%; 
	}	
.gradelogo{position: absolute;top:90px;left: 500px;transform: translate(-50%, -50%);text-align:center;}
#gradelogo{width:230px;}
.gradesubject{position: absolute;top:151px;width:82%;text-align:center;}
.gradesubject span{font-size:21px;font-weight:bold;}
.labelname{position: absolute; top: 287px;left:200px;font-size:19px;}
.gradename{position: absolute; top: 287px;left:265px;font-size:19px;}
.labelid{position: absolute; top: 287px;left:630px; width: 100%;font-size:18px;}
.gradeid{position: absolute; top: 287px;left:730px; width: 100%;font-size:18px;}
.table{position: absolute;top: 24%;left: 3%;width: 78%;}
.table-bordered th
	{	
	font-size:19px;
	}
.gradeimg{position: absolute;
    top: 64%;
    left: 8%;}
.gradedate{position:absolute;left:13%;bottom:15.8%;text-align:center;}
.gradedate b{font-size:18px;}
.gradedate span{font-size:18px;font-weight:bold;}

.gradestamp{position:absolute;left:36%;bottom:11%;}
.gradestamp img{width:150px;}
.gradenewsign{position:absolute;left:52%;bottom:16%;width:360px}
.gradenewsign img{width:180px}
.gradenewsign b{font-size:18px;position:absolute;top:30px;left:66px;}
.gradesign{position:absolute;left:56%;bottom:15%;}
.gradesign img{width:240px}
.gradesign b{font-size:18px;position:absolute;top:35px;left:100px;}
}

@media only screen and (max-width:766px) {
.batch_date{font-size: 16px;   
    width: 85%;
   }
.gradelogo{position: absolute;top:77px;left: 178px;transform: translate(-50%, -50%);text-align:center;}
#gradelogo{width:80px;}
.gradesubject{position: absolute;top:100px;width:92%;text-align:center;}
.gradesubject span{font-size:10px;font-weight:bold;}
.labelname{position: absolute; top: 164px;left:20px;font-size:10px;}
.gradename{position: absolute; top: 164px;left:65px;font-size:10px;}
.labelid{position: absolute; top: 164px;left:60%; width: 100%;font-size:10px;}
.gradeid{position: absolute; top: 164px;left:80%; width: 100%;font-size:10px;}
.table{position: absolute;top:26%;left: 3%;width:91%;font-size:6px;}
.table-bordered th
	{	
	font-size:10px;
	}
	.gradeimg{position: absolute;
    top: 70%;
    left: 6%;}
#grade{height:600px;}
.gradedate{position:absolute;left:13%;bottom:18%;text-align:center;}
.gradedate b{font-size:8px;}
.gradedate span{font-size:8px;font-weight:bold;position:relative;top:-8px;}
.gradestamp{position:absolute;left:42%;bottom:17%;}
.gradestamp img{width:50px;}
.gradenewsign{position:absolute;left:62%;bottom:18%;width:32%}
.gradenewsign img{width:75px}
.gradenewsign b{font-size:8px;position:absolute;top:15px;}
.gradesign{position:absolute;left:65%;bottom:18%;}
.gradesign img{width:90px}
.gradesign b{font-size:8px;position:absolute;top:15px;left:35px;}
}